name: Go tests

on:
  pull_request:
    branches: 
    - master
 
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    
    - name: Run go lint
      uses: cedrickring/golang-action@1.4.1
      env:
        GO111MODULE: "on"
      with:
        args: go get -u "golang.org/x/lint/golint" \
          && cp $(go list -f {{.Target}} "golang.org/x/lint/golint") /usr/local/bin \ 
          && make lint \
          && make test \
          && make build-linux
